{% extends 'main/base.html' %}

{% block title %}
Профиль: {{ user_to_show.username }}
{% endblock %}

{% block content %}
    <h1><img src="{{ user_to_show.pfp.url }}" height=30 width=30>{{ user_to_show.username }}</h1>
    {% if user.id == user_to_show.id %}
    <a href="{% url 'users:profile_change' %}">Изменить</a>
    {% endif %}
    <p>Очки: {{ user_to_show.points }}</p>
    <p>О себе: {{ user_to_show.about }}</p>
    {% if reports %}
    <p>У этого пользователя есть {{ reports.count }} в вашей компетенции</p>
    <ul>
    {% for report in reports %}
        <li>{{ report.report_text }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}