{% extends 'main/base.html' %}

{% block title %}
{{ game.name }}
{% endblock %}

{% block content %}
    <p><img src="{{ game.banner.url }}" height=100 wigth=640></p>
    <h1><img src="{{ game.icon.url }}" height=30 width=30>{{ game.name }}</h1>
    <p>{{ game.description }}</p>
    <p><a href="{{ game.steam_link }}">Игра в Steam</a></p>
    <h3>Доступные категории:</h3>
    <ul>
    {% for allowed_category in game.get_allowed_categories %}
        <li>
            <a href="{% url 'main:leaderboard' game.slug allowed_category.category.slug %}">{{ allowed_category.category.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}