{% extends 'main/base.html' %}

{% block title %}{{ game_category.game.name }} {{ game_category.category.name }}{% endblock %}

{% block content %}
<h3>Таблица лидеров по {{ game_category.game.name }} в категории {{ game_category.category.name }}</h3>
{% if not game_category.get_leaderboard %}
<p>В этой категории пока нет забегов</p>
{% else %}
<table>
    <tr>
        <th>Время</th>
        <th>Пользователь</th>
    </tr>
    {% for run in game_category.get_leaderboard %}
    <tr>
        <td>{{ run.get_runtime_str }}</td>
        <td><img src="{{ run.user.pfp.url }}" height=20 width=20><a href="{% url 'users:profile' run.user.slug %}">{{ run.user.username }}</a></td>
        <td><a href="{% url 'main:run' run.id %}">Перейти</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}