{% extends 'main/base.html' %}

{% block title %}{{ run.game_category.game.name }} {{ run.game_category.category.name }}{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'mouse_popup.js' %}"></script>
<script src="{% static 'validation_form_dynamic.js' %}"></script>
<script src="{% static 'single_input_dynamic.js' %}"></script>
{% endblock %}

{% block content %}
<p><img src="{{ run.game_category.game.banner.url }}" height=100 wigth=640></p>
<p><a href="{% url 'main:leaderboard' run.game_category.game.slug run.game_category.category.slug %}">Назад к таблице лидеров</a></p>
<h1>{{ run.game_category.game.name }}: {{ run.game_category.category.name }}</h1>
<p>{{ run.game_category.extra_description }}</p>
{% if not run.user.is_banned %}
    {% if not run.is_validated %}
        {% if run.is_rejected %}
            <p><b>Этот забег отклонен модератором!</b></p>
        {% else %}
            <p><i>Этот забег требует подтверждения!</i></p>
        {% endif %}
    {% endif %}
{% else %}
    <p><b>Пользователь, загрузивший этот забег, был забанен!</b></p>
{% endif %}
<p>Итоговое время:</p>
<ul><li>{{ run.get_runtime_str }}</li></ul>
<p>Видео:</p>
<ul><li>{{ run.video_link }}</li></ul>
<p>Пользователь: <span data-mousepopup="{% include 'main/userpopup.html' with user=run.user %}" onclick="location.href='{% url 'users:profile' run.user.slug %}'">{{ run.user.username }}</span></p>
<p>Загружен {{ run.time_uploaded }}</p>
{% if moderator and moderator.can_validate_runs and run.user.id != user.id and not run.user.is_banned %}
<form action="{% url 'main:run_validation_post' run.id %}" method="post">
    {% csrf_token %}
    <p>
        <label for="{{ validation_form.validate_choice.id_for_label }}">Принять/Отклонить забег?</label>
        {{ validation_form.validate_choice }}
    </p>
    <p id="reject_reason_p" hidden="true">
        <label for="{{ validation_form.reject_reason.id_for_label }}">Укажите причину отклонения</label>
        {{ validation_form.reject_reason }}
    </p>
    <p id="submit_validation_id" hidden="true">
       <input type="submit">
    </p>
</form>
{% endif %}
{% if run.is_validated %}
{% if user.is_authenticated and not user.is_banned and user.id != run.user.id %}
<form action="{% url 'main:run_report_post' run.id %}" method="post">
    {% csrf_token %}
    <p id="report_id" data-idsubmit="submit_report_id">
        <label for="{{ report_form.report_text.id_for_label }}">Вы можете пожаловаться на забег</label>
        {{ report_form.report_text }}
    </p>
    <p id="submit_report_id" hidden="true">
       <input type="submit">
    </p>
</form>
{% endif %}
{% if run.get_same_runs.exists %}
{% if run.has_better_runs %}
<p>Это не лучший результат этого пользователя в данной категории</p>
{% endif %}
<p>Смотрите также другие забеги этого пользователя в этой категории</p>
<ul>
    {% for same_run in run.get_same_runs %}
    <li data-mousepopup="{% include 'main/runpopup.html' with run=same_run %}" onclick="location.href='{% url 'main:run' same_run.id %}'">{{ same_run.get_runtime_str }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated and not user.is_banned %}
<form action="{% url 'main:run_comment_post' run.id %}" method="post">
    {% csrf_token %}
    <p id="comment_id" data-idsubmit="submit_comment_id">
        <label for="{{ comment_form.comment_text.id_for_label }}">Оставьте комментарий</label>
        {{ comment_form.comment_text }}
    </p>
    <p id="submit_comment_id" hidden="true">
       <input type="submit">
    </p>
</form>
{% endif %}
<h3>Комментарии: {{ run.get_comments.count }}</h3>
<ul>
{% for comment in run.get_comments %}
    <li>
        <img src="{{ comment.user.pfp.url }}" height=20 width=20>
        <span data-mousepopup="{% include 'main/userpopup.html' with user=comment.user %}" onclick="location.href='{% url 'users:profile' comment.user.slug %}'">
                {{ comment.user.username }}{% if comment.is_moderator %}<span style="color:green"> - Модератор</span>{% endif %}
        </span>
        {{ comment.time }}
        <p>{{ comment.comment_text }}</p>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}