{% extends 'main/base.html' %}

{% block title %}Загрузить забег{% endblock %}

{% block content %}
{{ form.errors }}
<form action="{% url 'main:run_upload' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.game.id_for_label }}">Игра</label>
        {{ form.game }}
    </p>
    <p>
        <label for="{{ form.category.id_for_label }}">Категория</label>
        {{ form.category }}
    </p>
    <p>
        <table>
            <tr>
                <th><label for="{{ form.runtime_hours.id_for_label }}">Часы</label></th>
                <th><label for="{{ form.runtime_minutes.id_for_label }}">Минуты</label></th>
                <th><label for="{{ form.runtime_seconds.id_for_label }}">Секунды</label></th>
                <th><label for="{{ form.runtime_ms.id_for_label }}">Миллисекунды</label></th>
            </tr>
            <tr>
                <td>{{ form.runtime_hours }}</td>
                <td>{{ form.runtime_minutes }}</td>
                <td>{{ form.runtime_seconds }}</td>
                <td>{{ form.runtime_ms }}</td>
            </tr>
        </table>
    </p>
    <p>
        <label for="{{ form.video_link.id_for_label }}">Ссылка на видео</label>
        {{ form.video_link }}
    </p>
    <p>
        <input type="submit">
    </p>
</form>
{% endblock %}