{% extends 'main/base.html' %}

{% block content %}
<h1>{% if user.id == user_to_show.id %}Ваши раны{% else %}Раны пользователя {{ user_to_show.username }}{% endif %}</h1>
<table>
    <tr>
        <th>Игра</th>
        <th>Категория</th>
        <th>Время</th>
    </tr>
    {% for run in user_to_show.get_runs %}
    <tr>
        <td>{{ run.game_category.game.name }}</td>
        <td>{{ run.game_category.category.name }}</td>
        <td>{{ run.runtime_ms }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}